/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */




 /*
* WPCT CSS
*/
body{
	text-align: center;
}

h1{
  font-weight: 100;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.wpct-social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wpct-social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.wpct-social-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
}